@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text antialiased min-h-screen;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
